@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    background: url('background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.btn {
    float: right;
    background-color: #333333;
    border: none;
    color: blue;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
      a {
        text-decoration: none;
        color: inherit;
        cursor: default;
      }
  }
.title{
        font-family: "VT323", monospace;
        font-size: 50px;
        color: gray;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}
.descripition{
    font-family: "VT323", monospace;
    font-size: 50px;
    color: gray;
}
.txt1{
    font-family: "VT323", monospace;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
}
.txt2{
    font-family: "VT323", monospace;
    font-size: 30px;
    color: orange;
    text-align: center;
}
.basic{
    font-family: "VT323", monospace;
    font-size: 25px;
    color: green;
    text-align: center;
}
.Features{
    font-family: "VT323", monospace;
    font-size: 25px;
    color: blue;
    text-align: center;
}
.important{
    font-family: "VT323", monospace;
    font-size: 50px;
    color: red;
    text-align: center; 
}
.download{
    font-size: 12px;
    color: aqua;
}